<blockquote>
o malutkiej dziewczynce która walczy z dziką bestią losu i zwycięża
</blockquote>
<p>
maleńka dziewczynka z czerwoną kokardką<br />
w purpurowej sukieneczce<br />
tańczyła tak boso pośród kropli rosy<br />
wicher plątał lniane włosy<br />
</p>

<p>
ale ona nie wiedziała<br />
że urośnie taka mała<br />
że jej domem płatki maku<br />
po pałacach ani znaku<br />
ale ona nie wiedziała<br />
że pan chrabąszcz śliska łapa<br />
posłuchawszy mamy taty<br />
zrzuci ją spod nieba w krzaki<br />
</p>

<p>
maleńka dziewczynka z czerwoną kokardką<br />
w sukieneczce potarganej<br />
leciała z niebiosów w otchłań złego losu<br />
uderzając w liść łopianu<br />
</p>

<p>
i wciąż jeszcze nie wiedziała<br />
czemu jest tak strasznie mała<br />
i cóż za jeziora mętne<br />
patrzą na nią tak namiętnie<br />
nic a nic nie przypuszczała<br />
że to chłopiec modrooki<br />
co pochwyci ją w ramiona<br />
i uniesie nad obłoki<br />
</p>
