<blockquote>
o chłopaku, który od wódki nie stroni i o strugach łez
</blockquote>
<p>
chłopak z tatuażem odświętnie ubrany<br />
głowa pełna marzeń niebo pełne łez<br />
idzie zamyślony drogą między bzami<br />
czy on płacze nie wiem<br />
może deszcz<br />
</p>

<p>
dużo wina było wieczorów rumianych<br />
uśmiechów czerwonych i ust rozszeptanych<br />
gdy noc niespodzianie zmieniła się w ranek<br />
nagle zauważył że w ramionach trzyma<br />
nieznajomą<br />
</p>

<p>
chłopak z tatuażem odświętnie ubrany<br />
głowa pełna wrażeń niebo pełne burz<br />
chmurne kłęby myśli nieznośnie splątane<br />
dawne piękne słowa pokrył kurz<br />
</p>

<p>
zaufaj mi zaufaj mi to tylko kilka miłych chwil<br />
to tylko dwie lampki wina to tylko jedna dziewczyna<br />
to tylko jeden mocny trunek tylko niewinny pocałunek<br />
to tylko wrząca rzeka nic nie wartych słów<br />
</p>

<p>
nie ufaj mi nie ufaj mi muszę już biec muszę już iść<br />
to tylko niewinne spojrzenia to tylko skryte marzenia<br />
o tylko jeden cichy szept to tylko jeden głośny krzyk<br />
to tylko niepowstrzymane łzy<br />
</p>

<p>
nie płacz już nie płacz już pokropię cię płatkami róż<br />
wykąpię w porannej rosie pogładzę liściem po nosie<br />
połaskoczę kłosem zboża wrzucę w sukience do morza<br />
zatańczymy w blasku gwiazd znów oddasz mi cały swój świat<br />
niewinna i wyśniona zaśniesz w moich ramionach<br />
na sto miliardów lat<br />
</p>
