<blockquote>
o nieudolnej próbie ucieczki przed samym sobą i o sidłach przeznaczenia
</blockquote>
<p>
chłopak z rowerem w deszczu stał<br />
wiatr pośród drzew cichutko drżał<br />
a ona stać tam chciała też<br />
lecz przecież przecież padał deszcz<br />
lecz przecież padał deszcz<br />
</p>

<p>
wiatr w liściach jaśminowych wył<br />
biegła dziewczyna w dal co sił<br />
sukienkę białą targał deszcz<br />
a on chciał za nią pobiec też<br />
lecz przecież padał deszcz<br />
</p>

<p>
wtuleni w ciszę nocy szli<br />
w koronach drzew myślami<br />
a krople rosy cicho schły<br />
pomiędzy ich ustami<br />
</p>
