<blockquote>
o strachu przed wojną, przed tym co nieznane i przed utratą czegoś bardzo bliskiego
</blockquote>
<p>
pędzą goście nieproszeni<br />
we łzach tańczą nagie miecze<br />
strumień burzy się i pieni<br />
a w ogrodzie więdnie kwiecie<br />
</p>

<p>
nie bój się syneczku nie bój<br />
schowam cię głęboko w lesie<br />
w czarne gęste sploty nocy<br />
wiatr otuchę ci przyniesie<br />
</p>

<p>
a gdy ogień walki zgaśnie<br />
pobiegniemy razem w pole<br />
taniec wśród pachnących kłosów<br />
wynagrodzi nam niedolę<br />
</p>

<p>
wynagrodzi nam niedolę
</p>
