<blockquote>
o matce, która oczekuje, że jej córka będzie inna niż ona i córce, która chciałaby być inna niż jej matka
</blockquote>
<p>
wracasz nad ranem z pustką w głowie<br />
twe usta już nie są tak karmazynowe<br />
jak wczoraj gdy trzaskałaś drzwiami<br />
wychodząc z uroczym panem<br />
z tatuażami<br />
</p>

<p>
wyblakły makijaż sukienka pomięta<br />
rzęsy wyblakłe nie wszystko pamięta<br />
</p>

<p>
a może to jakaś inna dziewczyna<br />
za którą unosi się zapach<br />
dużej ilości wina<br />
(moja wina moja wina)<br />
</p>

<p>
nie spałam całą noc pobędę tu przy tobie<br />
nie spałam całą noc pobędę tu sobie<br />
nie spałam całą noc pobędę tu przy tobie<br />
kiedy się obudzisz opowiesz mi może<br />
</p>

<p>
czy ja to ja czy ty jesteś moja<br />
czy ty to ty czy ja jestem twoja<br />
czy ja to ty czy ty jesteś moja<br />
czy ty to ja czy ja jestem twoja<br />
czy ja to ty czy ty jesteś moja<br />
czy ty to ja<br />
</p>

<p>
ja zawsze będę twoja<br />
</p>

<p>
czy ty to ta sama miła dziewczyna<br />
którą głaskałam gdy śniła<br />
o kolorowych motylach<br />
</p>
