<blockquote>
inspirowany trzynastym sonetem Michała Anioła
</blockquote>
<p>
Postać wykuta z głazu patrzyła na mnie i grała<br />
Igrała moją myślą, wabiła moje spojrzenie<br />
Mała dziewczynka w słońcu tańczyła, głośno się śmiała<br />
Smukła kobieta w deszczu zadrżała niepostrzeżenie<br />
</p>

<p>
Postać wykuta z głazu wciąż patrząc zawodziła<br />
Jak wiatr pod strzechą zawodzi, jak szlocha ogień pustosząc<br />
Dusza wykuta w głazie nad łąki uchodziła<br />
A twarz otarta płótnem patrzyła oczu nie wznosząc<br />
</p>

<p>
Rzeźbiąc uczucia w ciałach rzeźbiarz  o ludziach nie myślał<br />
Co chcieli tak bardzo się dotknąć, a dotknąć się nie śmieli<br />
</p>

<p>
Odłożył dłuto i znikną, a nocą sen jasny wyśnił<br />
O ludziach co chcąc się nie kochać, nie kochać się nie umieli<br />
</p>
