<p>
Antycyklony, czerwone karły gazowe olbrzymy kręcą się, błądzą.
</p>

<p>
Maleńka iskierka, blado-nikłe mgnienie<br />
zbłądziła w kosmosie, drżąc w gwieździstym pyle.<br />
Za rogiem księżyca, w marsjańskim popiele,<br />
W otchłaniach ciemności, niosły ją motyle.<br />
</p>

<p>
Wzniosły ją na skrzydłach w obszar ciał niebieskich<br />
Z nagich fal dźwiękowych, w stan kosmicznej próżni.<br />
Hipermagnetyczny, wrzący wiatr słoneczny<br />
Porywał jej myśli w niebyt czarnej pustki.<br />
</p>

<p>
Motyle w kosmosie krążyły namiętnie<br />
Choć sny rozognione stroniły od drżenia.<br />
I stała się iskra w kosmicznej przestrzeni<br />
Nuklearną bombą masowego tchnienia.<br />
</p>

<p>
Kosmiczne pyły wymarłych gwiazd kręcą się, błądzą między nami.
</p>
