<blockquote>
  o drobnej blondynce, która w chaosie czarnego jak smoła wszechświata, w towarzystwie pustej butelki po wódce, przeciwstawia się zapisanemu w gwiazdach przeznaczeniu
</blockquote>
<p>
  ledwo na nogach się toczy<br />
  laleczka z porcelany<br />
  potem na fajkę skoczy<br />
  wódki wypije łyk<br />
  smutne przeciera oczy<br />
  nie chce tak dłużej żyć<br />
  jeśli znów ze mną zatańczysz<br />
  przysięgam przestanę pić<br />
</p>

<p>
  nad ranem z hotelu wyszedł<br />
  malutki żołnierzyk z cyny<br />
  cichutko zagwizdał 'michelle ma belle'<br />
  do okna niedbale kiwnął<br />
  deszcz smutno o szybę dzwoni<br />
  czekam już trzecią noc<br />
  jeśli nie pójdziesz dziś do niej<br />
  przysięgam przestanę kląć<br />
</p>

<p>
  laleczka nerwowo szlocha<br />
  serce rytm smutny wybija<br />
  cóż jeśli on jej nie kochał<br />
  cóż gdy nie była jedyna<br />
  serce przecież nie sługa<br />
  wódki nalejcie mi znów<br />
  żołnierzyk z cynowej łodzi<br />
  z twarzy wyciera róż<br />
</p>
