<p>
  <ul class="ui list">
    {% for event in site.data.events.current %}
      <li class="item">
        <strong>{{ event.date }}</strong>
        {{ event.locations | join: ", " }}
        {% if event.url %}
          <a href="{{ event.url }}">&nbsp;<i class="arrow right icon"></i></a></li>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</p>
<button class="mini inverted basic right floated ui button attribution" id="concerts-archive">Archiwum</button>
<div class="ui modal" id="concerts-archive-attribution">
  <div class="header">Archiwum koncertów</div>
  <div class="content">
    <p>
      <ul>
        {% for event in site.data.events.archived %}
          <li>
            <strong>{{ event.date }}</strong>
            {{ event.locations | join: ", " }}
            {% if event.url %}
              <a href="{{ event.url }}">&nbsp;<i class="arrow right icon"></i></a></li>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </p>
  </div>
  <div class="actions"><div class="ui cancel button">X</div></div>
</div>
