<p>
  <ul class="ui list">
    {% for event in site.data.events.current %}
      <li class="item">
        <strong>{{ event.date }}</strong>
        {{ event.locations | join: ", " }}
        {% if event.url %}
          <a href="{{ event.url }}">&nbsp;<i class="arrow right icon"></i></a></li>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</p>
<p>
  <h3 class="ui grey header">Te które się już zdarzyły</h3>
  <ul class="ui list">
    {% for event in site.data.events.archived %}
      <li>
        <strong>{{ event.date }}</strong>
        {{ event.locations | join: ", " }}
        {% if event.url %}
          <a href="{{ event.url }}">&nbsp;<i class="arrow right icon"></i></a></li>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</p>
