<p>
  <ul class="ui list">
    <li class="item">
      <b>26.11.2021</b> / 20:00 / StrefaEtno <small>Kraków, ul. św. Tomasza 31</small><a href="https://www.facebook.com/events/282860523749683">&nbsp;<i class="arrow right icon"></i></a>
    </li>
  </ul>
</p>
<button class="mini inverted basic ui button attribution" id="concerts-archive">Archiwum</button>
<div class="ui modal" id="concerts-archive-attribution">
  <div class="header">Archiwum koncertów</div>
  <div class="content">
    <p>
      <ul>
        <li><strong>19.09.2021</strong>, 15:30 w ramach <a href="https://www.krakow.pl/aktualnosci/252174,29,komunikat,podgorska_jesien_kulturalna.html">Podgórskiej Jesieni Kulturalnej</a> - Rynek Podgórski, Kraków</li>
        <li><strong>29.08.2020</strong> - Koncert na Skalance</li>
        <li><strong>09.02.2020</strong> - Klub Buda, Kraków</li>
      </ul>
    </p>
  </div>
  <div class="actions"><div class="ui cancel button">X</div></div>
</div>
