<p>
  <a href="mailto:czarnymotyl@pm.me">czarnymotyl@pm.me</a>
</p>
<p>
  <a class="ui image" href="https://www.facebook.com/czarnymotylart/" target="_blank"><img title="Facebook" alt="Facebook" src="./assets/img/facebook_logo.png" /></a>
  <a class="ui image" href="https://czarnymotyl.bandcamp.com/" target="_blank"><img title="Bandcamp" alt="Bandcamp" src="./assets/img/bandcamp_logo.png" /></a>
  <a class="ui image" href="https://soundcloud.com/czarny-motyl" target="_blank"><img title="SoundCloud" alt="SoundCloud" src="./assets/img/soundcloud_logo.png" /></a>
</p>
