<div class="ui grid">
  <div class="sixteen wide column">
    <img class="ui circular medium centered image press" src="assets/img/czarnymotyl_xx8_md.jpg" />
  </div>

  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui circular small centered image press" src="assets/img/czarnymotyl_xx5_md.jpg" />
  </div>
  <!--
  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui circular small centered image press" src="assets/img/czarnymotyl_xx0_md.jpg" />
  </div>
  -->
  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui circular small centered image press" src="assets/img/czarnymotyl_xx4_md.jpg" />
  </div>
  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui circular small centered image press" src="assets/img/czarnymotyl_x13_md.jpg" />
  </div>

  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui circular small centered image press" src="assets/img/czarnymotyl_xx7_md.jpg" />
  </div>
  <div class="sixteen wide mobile eight wide tablet eight wide computer column">
    <img class="ui circular centered image press" src="assets/img/czarnymotyl_x11_md.jpg" />
  </div>
  <div class="sixteen wide mobile eight wide tablet eight wide computer column">
    <img class="ui circular centered image press" src="assets/img/czarnymotyl_x12_md.jpg" />
  </div>
  <!--
  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui circular small centered image press" src="assets/img/czarnymotyl_xx9_md.jpg" />
  </div>
  -->

  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui small circular centered image press" src="assets/img/czarnymotyl_xx3_md.jpg" />
  </div>
  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui small circular centered image press" src="assets/img/czarnymotyl_xx1_md.jpg" />
  </div>
  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui circular centered image press" src="assets/img/czarnymotyl_x10_md.jpg" />
  </div>
  <div class="eight wide mobile four wide tablet four wide computer column">
    <img class="ui circular centered image press" src="assets/img/czarnymotyl_xx2_md.jpg" />
  </div>

  <div class="sixteen wide column">
    <img class="ui circular medium centered image press" src="assets/img/czarnymotyl_xx6_md.jpg" />
  </div>
</div>
