<p>
Czarny Motyl to duet, który snuje swoje opowieści głosem i akordeonem,
czasem w towarzystwie skrzypiec, nadając codzienności ton poetyckiego buntu.
</p>
<p>
Nasza muzyka to „poezja krzyczana” – emocjonalna mieszanka dźwięków
zakorzenionych w ludowym instrumentarium i miejskiej melancholii. Tworzymy
dźwiękowe obrazy, które tańczą między światłem a cieniem – czasem wzruszające,
czasem radosne, zawsze szczere. Inspiracje czerpiemy z ulic Krakowa – ich
szmerów, historii, spojrzeń przechodniów.
</p>
<p>
Gramy dla tych, którzy się spieszą i dla tych, którzy się zatrzymują. Nasze utwory prowadzą słuchaczy przez
brukowane chodniki, dzikie łąki i mokre od deszczu aleje – zapraszając do wspólnej podróży przez jasne i ciemne strony życia.
</p>
<p>
Czarny Motyl to muzyka, która koi i porusza, budzi śmiech i łzy.
</p>
