<p>
  Czarny Motyl, duet który współtworzą Violka i Michał Radmacher, dźwiękami fletu i akordeonu obrazuje historie zasłyszane na ulicy, zapraszając słuchacza do wspólnych wędrówek przez łąki i pola zarówno w słońcu jak i w rzęsistym deszczu.
</p>
<p>
  Swoją muzykę nazywają „poezją krzyczaną”. Obrazy które powstają z dźwięków bazujących na ludowym instrumentarium i melancholii otaczającej rzeczywistości, choć taneczne, nie są zbyt radosne. Mają jednak na celu wzbudzać pozytywne emocje, ukoić smutki oraz pobudzać radość zarówno z jasnych jak i ciemnych stron życia.
</p>
<p>
  Płyty Czarnego motyla wydaje niezależna wytwórnia <a href="https://www.karoryfer.com">Karoryfer Lecolds</a>. Pierwsza nosi nazwę „Maszyna do robienia słońca”, kolejna to „Maszyna do suszenia łez”.
</p>
