<p>
  Czarny Motyl to projekt art brutowy (instynktowny, nieprofesjonalny) splatający skrajnie różne dźwięki i kolory, będące połączeniem muzyki ludowej z eksperymentalną, jak również poezji śpiewanej z punck rockiem.
</p>
<p>
  To muzyczna wędrówka poprzez łąki i pola zarówno w słońcu jak i w rzęsistym deszczu.
</p>
<p>
  Obrazy, które powstają z dźwięków bazujących na ludowym instrumentarium i melancholii otaczającej rzeczywistości, choć taneczne, nie są zbyt radosne. Mają jednak na celu przynosić pozytywne emocje, ukojenie smutków oraz pobudzać radość zarówno z jasnych jak i ciemnych stron życia.
</p>
<p>
    Michał Radmacher i Violka Radmacher, po latach działalności muzycznej (Południca!, Bumtralala, Hańba!, Iglika, Kapela Czernichowska, Słowianki), w roku 2018, wraz z zaprzyjaźnionymi muzykami, wydali pierwszą płytę pod tytułem „Maszyna do robienia słońca”.
</p>
<p>
    Aktualnie, w roku 2020, powstał ich całkowicie autorski projekt „Maszyna do suszenia łez” (Violka - głos, flet, teksty, muzyka; Michał - akordeon, klarnet, kawal, aranżacje) w którym zagościli również Antonina Witkowska (wiolonczela), Tichomir Ivan (perkusjonalia), Gosia Lempart (harmonijka) oraz Andrzej Zagajewski (pozytywki).
</p>
