Ilustracje: Sofia Pastirik
<ol>
  <li>
    Żołnierzyk z cynowej łodzi<br />
    <small>
      tekst i melodia oryginału: Radůza (Vojáček z cínové lodi)<br />
      tłumaczenie: Violka Radmacher<br />
      głos, flet: Violka Radmacher<br />
      akordeon: Michał Radmacher<br />
      wiolonczela: Antonina Witkowska<br />
      pozytywki: Andrzej Zagajewski<br />
    </small>
  </li>
  <li>
    Inna dziewczyna<br />
    <small>
      słowa, muzyka: Violka Radmacher<br />
      głos: Violka Radmacher<br />
      akordeon, kawał, klarnet: Michał Radmacher<br />
      wiolonczela: Antonina Witkowska<br />
    </small>
  </li>
  <li>
    Chłopak z tatuażem<br />
    <small>
      słowa, muzyka: Violka Radmacher<br />
      głos: Violka Radmacher<br />
      akordeon: Michał Radmacher<br />
      wiolonczela: Antonina Witkowska<br />
      harmonijka: Gosia Lempart<br />
    </small>
  </li>
  <li>
    Chłopak z rowerem<br />
    <small>
      słowa, muzyka: Violka Radmacher<br />
      głos, flet: Violka Radmacher<br />
      akordeon: Michał Radmacher<br />
      perkusjonalia: Tichomir Ivan<br />
    </small>
  </li>
  <li>
    Goście<br />
    <small>
      słowa, muzyka: Violka Radmacher<br />
      głos: Violka Radmacher<br />
      akordeon, klarnet, bębenek obręczowy: Michał Radmacher<br />
      wiolonczela: Antonina Witkowska<br />
    </small>
  </li>
  <li>
    Calineczka<br />
    <small>
      słowa, muzyka: Violka Radmacher<br />
      głos: Violka Radmacher<br />
      akordeon, klarnet, bębenek obręczowy: Michał Radmacher<br />
      wiolonczela: Antonina Witkowska<br />
    </small>
  </li>
  <li>
    Straszny taniec<br />
    <small>
      słowa, muzyka: Violka Radmacher<br />
      głos: Violka Radmacher<br />
      akordeon, piano: Michał Radmacher<br />
      wiolonczela: Antonina Witkowska<br />
      perkusjonalia: Tichomir Ivan<br />
    </small>
  </li>
  <li>
    Odklęcie<br />
    <small>
      głos: Violka Radmacher<br />
      szepty: Violka i Michał Radmacher<br />
      didgeridoo: Ivan Hrozný<br />
      perkusjonalia: Tichomir Ivan<br />
      darbuka-dzwon: Adam Hliniak<br />
      odwrócenie: Michał Radmacher<br />
    </small>
  </li>
  <li>
    Inna Antonina<br />
    <small>
      wiolonczele: Antonina Witkowska<br />
      perkusjonalia: Tichomir Ivan<br />
    </small>
  </li>
</ol>
