<ol>
  <li>
    Nasionko<br />
    <small>
      muzyka, słowa: Violka Radmacher<br />
      głos: Regina Warska<br />
      heligonka: Michał Radmacher<br />
      klarnet: Wojciech Wędzicha<br />
      darbuka: Adam Hliniak<br />
    </small>
  </li>
  <li>
    Czarny motyl<br />
    <small>
      muzyka, słowa: Violka Radmacher<br />
      głos: Regina Warska<br />
      akordeon, klarnet: Michał Radmacher<br />
    </small>
  </li>
  <li>
    Nieznane<br />
    <small>
      muzyka: Regina Warska<br />
      słowa: Violka Radmacher<br />
      głos: Regina Warska<br />
      akordeon: Michał Radmacher<br />
      darbuka: Adam Hliniak<br />
    </small>
  </li>
  <li>
    Wielki wybuch<br />
    <small>
      muzyka: Violka Radmacher, Regina Warska<br />
      słowa: Violka Radmacher<br />
      głos: Regina Warska<br />
      chórki: Violka Radmacher<br />
      akordeon, klarnet: Michał Radmacher<br />
    </small>
  </li>
  <li>
    Horror 3<br />
    <small>
      muzyka, słowa: Violka Radmacher<br />
      głos: Regina Warska<br />
      heligonka, fujarka: Michał Radmacher<br />
      darbuka: Adam Hliniak<br />
      drumla: Jan Trębacz<br />
    </small>
  </li>
  <li>
    Oknaj<br />
    <small>
      akyzum, awołs: Rehcamdar Akloiv<br />
      ainomrah: Rehcamdar Łahcim<br />
    </small>
  </li>
  <li>
    Niebo<br />
    <small>
      muzyka, słowa: Agata Hołobut<br />
      głos: Agata Hołobut<br />
      gęśle: Violka Radmacher<br />
      gitara: Adam Hliniak<br />
      klarnet: Michał Radmacher<br />
    </small>
  </li>
  <li>
    Posągi<br />
    <small>
      muzyka, słowa: Violka Radmacher<br />
      głos: Agata Hołobut<br />
      gitara: Adam Hliniak<br />
      mandola, toy piano: Andrzej Zagajewski<br />
      klarnet: Michał Radmacher<br />
    </small>
  </li>
  <li>
    Nibydeszcz<br />
    <small>
      słowa: Violka Radmacher<br />
      głos: Agata Hołobut<br />
      cymbały: Mateusz Nowicki<br />
      buzuki, kij deszczowy: Adam Hliniak<br />
      heligonka: Michał Radmacher<br />
    </small>
  </li>
  <li>
    Odczarowanie<br />
    <small>
      Nindiya Re, kołysanka z północnych Indii w języku hindi<br />
      głos: Akeek Maitra
    </small>
  </li>
</ol>
