<p>
  <i><q>Wybuchowo nastrojowa fuzja folku miejskiego, psychodelii i mocno pokręcono-zakręconej poezji śpiewanej, bardzo przejmująco zaśpiewanej. Miesza się tu wiele światów – od tych, które już nie istnieją (szczypta klezmerki z ulicznego bruku), po współczesne oko blokowisk ale i transów autentycznie odrapanych kamienic i szemranych klatek schodowych, które też są piękne na swój sposób.  Tej muzyki nie da się jednoznacznie opisać.</q></i>
  <p>Witt Wilczyński, Gniazdo nr 2(21)/2020</p>
</p>

<ul>
  <li><a href="https://folk24.pl/wywiady/baba-o-zelaznych-zebach/" target="_blank">Folk24.pl - Baba o żelaznych zębach</a></li>
  <li><a href="https://folk24.pl/w-folkowym-tonie/teledyski-etno-folkowe-ad-2019/" target="_blank">Folk24.pl - Teledyski etno-folkowe a.d. 2019</a></li>
  <li><a href="https://folk24.pl/wiesci/krowki-sa-z-marca/" target="_blank">Folk24.pl - Krówki są z marca</a></li>
</ul>
