{% include lyrics.html
  id="zolnierzyk-z-cynowej-lodzi"
  title="Żołnierzyk z cynowej łodzi"
  author="tekst oryginału: Radůza (Vojáček z cínové lodi)</br>tłumaczenie: Violka Radmacher"
%}
{% include lyrics.html
  id="inna-dziewczyna"
  title="Inna dziewczyna"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="chlopak-z-tatuazem"
  title="Chłopak z tatuażem"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="chlopak-z-rowerem"
  title="Chłopak z rowerem"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="goscie"
  title="Goście"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="calineczka"
  title="Calineczka"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="straszny-taniec"
  title="Straszny taniec"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="nasionko"
  title="Nasionko"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="czarny-motyl"
  title="Czarny motyl"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="wielki-wybuch"
  title="Wielki wybuch"
  author="Violka Radmacher"
%}
{% include lyrics.html
  id="posagi"
  title="Posągi"
  author="Violka Radmacher"
%}
